<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Merriweather.ttf</string>
		<string>Fredoka.ttf</string>
		<string>PlaypenSans.ttf</string>
		<string>GreatVibes.ttf</string>
		<string>Orbitron.ttf</string>
		<string>Kansei.ttf</string>
	</array>
</dict>
</plist>
